# Python related
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Environment variables
.env

# Virtual environments
venv/
ENV/
env/
.venv/

# Byte-compiled / optimized / DLL files
*.py[cod]
*.so
*.dylib
*.dll

# pytest
.cache/

# MyPy
.mypy_cache/

# Pyre type checker
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# MacOS
.DS_Store

# Temporary files
*.swp
*.swo
*~
*.bak

# Logs
*.log

# Ignore everything in /data except .gitignore
data/*
!data/.gitignore
